@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=Dela+Gothic+One&family=Gentium+Book+Plus:wght@400;700&family=Lora:wght@400;500;600;700&family=Open+Sans:wght@400;600&family=Poppins:wght@400;500;600;700;800&family=Raleway:wght@500;600;700&family=Rubik:wght@400;500;600;700;800&display=swap');

:root {
    --color-white: #fff;
    --color-gray: #838383;
    --color-orange: #ffa600;
    --color-blue: #1f45e0;
    --text-blue: #183466;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--color-white);
}

::-webkit-scrollbar {
    width: 7px;
    border-radius: .5rem;
    border-image-slice: #ccc;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-blue);
    border-radius: .5rem;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: unset;
}

ul {
    list-style: none;
}

button,
input {
    border: none;
    outline: none;
    background-color: transparent;
}

img {
    width: 100%;
    height: 100%;
}